body {
	width: 500px;
	font-family: Sans-serif;
	font-size: 12pt;
	margin: auto;
}

h1 {
	text-align: center;
}

input[type=submit] {
height: 2.5em;
    border: solid 1px gray;
    width: 50%;
    padding-left: 5em;
    padding-right: 5em;
    margin-left: 25%;
    margin-right: 25%;}

input[type="text"] {
    height: 2.5em;
    border: 0;
    outline: solid 1px gray;
    width: 100%;
    box-sizing: border-box;
}
select {
    height: 2.5em;
    width: 100%;
    border: 0;
    outline: solid 1px gray;
}
